@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#wallpaper {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}
.centerbox {
    font-family: 'League Spartan', sans-serif;
    padding-top: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    color: aliceblue;
    font-size: 26px;
}

img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
}

img:hover {
    cursor: pointer;
}

.box {
    display: flex;
    margin-top: 5px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(216, 84, 128);
    border-color: black;
    border-radius: 10px;
    border: 1px solid rgb(0, 20, 109);
}
.fact {
    margin-top: 5px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    background-color: rgb(216, 84, 128);
    border-color: black;
    border-radius: 10px;
    border: 1px solid rgb(0, 20, 109);
}

button {
    border: none;
    background-color: darkslateblue;
    color: aliceblue;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(46, 37, 105);
    transition: 0.3s;
}

input {
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: darkslateblue;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-style: 'Garamond';
    width: 70%;
    height: 35px;
    border: 1px solid black;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::placeholder {
    color: aliceblue;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
